<div class="feature-content">
  <h1 class="text-3xl text-black pb-6">Dashboard</h1>

  <!-- Dropdowns for selecting product, location, and date picker -->
  <div class="flex space-x-4 mb-6">
    <!-- Product Dropdown -->
    <div class="w-1/4">
      <label for="product" class="block text-sm font-medium text-gray-700"
        >Select Product</label
      >
      <select
        id="product"
        name="product"
        class="w-full input-field mt-1 block py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      >
        <option value="all">All products</option>
        <option value="maize">Maize</option>
        <option value="rice">Rice</option>
        <option value="wheat">Wheat</option>
        <option value="cassava">Cassava</option>
      </select>
    </div>

    <!-- Location Dropdown -->
    <div class="w-1/4">
      <label for="location" class="block text-sm font-medium text-gray-700"
        >Select Location</label
      >
      <select
        id="location"
        name="location"
        class="w-full input-field mt-1 block py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      >
        <option value="lagos">Lagos</option>
        <option value="abuja">Abuja</option>
        <option value="kano">Kano</option>
        <option value="port-harcourt">Port Harcourt</option>
      </select>
    </div>

    <!-- Datepicker with calendar popup -->
    <div class="w-1/4">
      <label for="report-date" class="block text-sm font-medium text-gray-700"
        >Select Date</label
      >
      <input
        type="date"
        id="report-date"
        name="report-date"
        class="w-full input-field mt-1 block py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
  </div>

  <div class="flex flex-wrap mt-6">
    <div class="w-full lg:w-1/2 pr-0 lg:pr-2">
      <p class="text-xl pb-3 flex items-center">
        <i class="fas fa-plus mr-3"></i> Monthly Reports
      </p>
      <div class="p-6 bg-white">
        <canvas
          baseChart
          [data]="barChartData"
          [type]="'bar'"
          [options]="chartOptions"
        ></canvas>
      </div>
    </div>
    <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
      <p class="text-xl pb-3 flex items-center">
        <i class="fas fa-check mr-3"></i> Resolved Reports
      </p>
      <div class="p-6 bg-white">
        <canvas
          baseChart
          [data]="lineChartData"
          [type]="'line'"
          [options]="chartOptions"
        ></canvas>
      </div>
    </div>
  </div>
</div>
